# CODEOWNERS for ENPM818R Group 3 project

# Default owners for the repo (all files)
* @Nivedhitha99 
@danitrical
@hdharani-sec
@joyson13
@nkafridi1
@s-mahima09
@steward

# Service-specific ownership (optional examples)
uploader/ @s-mahima09
processor/@joyson13
analytics/@joyson13
frontend/ @@hdharani-sec
terraform/ @danitrical
devops & app building/@Nivedhitha99
CI/CD  @nkafridi1
Observability & monitoring @steward