apiVersion: v1
kind: ServiceAccount
metadata:
  name: auth-sa
  namespace: prod
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::385046010615:role/auth-irsa-role
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  namespace: prod
  labels:
    app: auth
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8000"
    spec:
      serviceAccountName: auth-sa
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: auth
          image: 385046010615.dkr.ecr.us-east-1.amazonaws.com/auth-service:latest
          imagePullPolicy: Always
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false
            privileged: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
            seccompProfile:
              type: RuntimeDefault
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: video-analytics-secrets
                  key: JWT_SECRET
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 256Mi
---
apiVersion: v1
kind: Service
metadata:
  name: auth
  namespace: prod
spec:
  selector:
    app: auth
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  type: ClusterIP
