apiVersion: v1
kind: ServiceAccount
metadata:
  name: processor-sa
  namespace: default
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::385046010615:role/processor-irsa-role   # to be created after cluster

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: processor
  namespace: default
  labels:
    app: processor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: processor
  template:
    metadata:
      labels:
        app: processor
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8000"
    spec:
      serviceAccountName: processor-sa
      containers:
        - name: processor
          image: 385046010615.dkr.ecr.us-east-1.amazonaws.com/processor-service:1.0
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: AWS_REGION
              value: "us-east-1"
            - name: SQS_QUEUE_URL
              value: "https://sqs.us-east-1.amazonaws.com/385046010615/video-processing-jobs"
            - name: DYNAMODB_TABLE_NAME
              value: "video-metadata"
