apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: uploader-role
  namespace: prod
rules:
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: uploader-rolebinding
  namespace: prod
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: uploader-role
subjects:
  - kind: ServiceAccount
    name: uploader-sa
    namespace: prod
