apiVersion: v1
kind: ServiceAccount
metadata:
  name: uploader-sa
  namespace: prod
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::385046010615:role/uploader-irsa-role   # to be created later

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: uploader
  namespace: prod
  labels:
    app: uploader
spec:
  replicas: 1
  selector:
    matchLabels:
      app: uploader
  template:
    metadata:
      labels:
        app: uploader
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8000"
    spec:
      serviceAccountName: uploader-sa
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: uploader
          image: 385046010615.dkr.ecr.us-east-1.amazonaws.com/uploader-service:latest
          imagePullPolicy: Always
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false
            privileged: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20
          env:
            - name: AWS_REGION
              valueFrom:
                configMapKeyRef:
                  name: video-analytics-config
                  key: AWS_REGION
            - name: S3_BUCKET_NAME
              valueFrom:
                configMapKeyRef:
                  name: video-analytics-config
                  key: S3_BUCKET_NAME
            - name: SQS_QUEUE_URL
              valueFrom:
                configMapKeyRef:
                  name: video-analytics-config
                  key: SQS_QUEUE_URL
          resources:
            requests:
              cpu: 150m
              memory: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      volumes:
        - name: tmp
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: uploader
  namespace: prod
spec:
  type: ClusterIP
  selector:
    app: uploader
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
