apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  metadata:
  name: analytics-servicemonitor
  namespace: monitoring
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: analytics
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      interval: 15s
