apiVersion: v1
kind: Service
metadata:
  name: analytics-service
  labels:
    app: analytics
spec:
  selector:
    app: analytics
  ports:
    - name: http
      protocol: TCP
      port: 8002
      targetPort: 8002
  type: ClusterIP
