apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: processor-servicemonitor
  namespace: monitoring
  labels:
    release: monitoring

spec:
  selector:
    matchLabels:
      app: processor
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      interval: 15s
